:root {
    --primary-font: "Montserrat", sans-serif;
    --primary-brand-color: #fb6d3a;
    --contact-color: #565e6a;
    --title-color: #000;
    --sub-title-color: #a8a8a8;
    --text-color: #595959;
    --background-color: #f5f7fa;
    --white-background-color: #ffffff;
    --side-background-color: #1e2939;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    color: var(--title-color);
    background-color: var(--background-color);
    font-style: normal;
    letter-spacing: 0.02em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
}

.main-section {

    background: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.container {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
}

.side__container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title {
    display: flex;
    font-size: 20px;
    color: var(--title-color);
    justify-content: center;
    margin-bottom: 10px;
}

.list-title {
    font-size: 16px;
    color: var(--title-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.brand {
    color: var(--primary-brand-color);
}

.list {
    list-style-type: none;
    list-style: none;
    text-decoration: none;
}

.link {
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    color: var(--sub-title-color);
}

.link-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link:hover,
.link:focus,
.link:active {
    color: var(--primary-brand-color);
}

.list-item {
    list-style-type: disc;
    color: var(--title-color);
}

.period {
    color: var(--sub-title-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.divider {
    color: var(--title-color);
}

.text {
    color: var(--text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Header*/
.container__header {
    position: relative;
}

.navigation {
    position: absolute;
    margin-top: 15px;
}

/* Hero */
.hero {
    background-color: #f5f7fa;
    padding-top: 45px;
    padding-bottom: 25px;
}

.hero__title {}

.hero__text {
    text-indent: 7%;
}

.hero__sub-title {
    text-align: center;
    font-size: 38px;
    margin: 15px auto;
}

.hero__image {
    margin-left: auto;
    margin-right: auto;
}

/* Contacts */
.contacts {
    padding-top: 25px;
    padding-bottom: 25px;
}

.adress {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.adress__svg {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    fill: currentColor;
}

.adress__list-link {
    text-decoration: none;
    list-style-type: none;
    position: relative;
}

.adress__socials-list {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-left: 16px;
    margin-right: 16px;
}

.adress__socials-list-item {
    width: 40px;
    height: 40px;
}

.adress__socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--sub-title-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(1, 0, 0.2, 1);
    
}

.adress__socials-link:hover,
.adress__socials-link:focus {
    background-color: var(--primary-brand-color);
    transform: scale(1.1);
}

.adress__socials-link:active {
    background-color: var(--primary-brand-color);
    transform: scale(1.1);
}

.adress__socials-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--background-color);
}

/* Skills */
.skills {
    padding-top: 25px;
    padding-bottom: 25px;
}

.skills__list {
    display: flex;
    gap: 35px;
}

.skills__list-item {
    width: calc((100% - 15px) / 2);
}

/* Projects */
.projects {
    padding-top: 25px;
    padding-bottom: 25px;
}

.future-link {
    color: var(--sub-title-color);
}

/* Work */
.work {
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Education */
.education {
    padding-top: 25px;
    padding-bottom: 25px;
}

.sidebar {
    display: none;
    background-color: var(--side-background-color);
    max-width: 370px;
}